/**::-webkit-media-controls-panel {*/
  /*display: none !important;*/
  /*-webkit-appearance: none;*/
/*}*/

/**::--webkit-media-controls-play-button {*/
  /*display: none !important;*/
  /*-webkit-appearance: none;*/
/*}*/

/**::-webkit-media-controls-start-playback-button {*/
  /*display: none !important;*/
  /*-webkit-appearance: none;*/
/*}*/

#btn-apply .ajax-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a5dcfdc7;
  z-index: 101;
}

#btn-apply .ajax-progress-throbber .throbber {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10vw;
  height: 10vw;
  background-image: url(/modules/custom/glico_submission/images/loading.gif);
  background-size: 100% 100%;
  z-index: 102;
  transform: translate(-50%, -50%);
}

#content-wrapper {
  background-image: url(/themes/custom/glico/images/discover/discovery-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 176vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-wrapper #banner-img {
  margin-top: 7vw;
  width: 27vw;
  /*max-width: 23.8rem;*/
}

#content-wrapper #banner-img img {
  width: 100%;
}

.page-node-content {
  margin-top: 7vw;
}

.submission-content-wrapper {
  /*max-width: 1460px;*/
  width: 90vw;
  margin: 0 auto;
  display: flex;
  font-family: Baloo Tammudu, cursive;
}

.submission-content-wrapper .field-video-wrapper {
  flex-basis: 70%;
  margin-right: 1%;
 }

.submission-content-wrapper .field-video-wrapper video[style] {
  width: 100% !important;
  height: 35.5vw !important;
  /*max-height: 575px;*/
  border-radius: 1vw;
}

.field-video {
  background-color: black;
  position: relative;
  font-size: 0;
  border-radius: 1vw;
}

.field-video.video-frame-3 {
  border-radius: 5vw;
}

.field-video.video-frame-2 {
  border-radius: 6vw;
}

.field-video.video-frame-1 {
  border-radius: 1vw;
}

.field-video:before {
  position: absolute;
  content: "";
  display: block;
  width: 102%;
  height: 105%;
  background-size: 100% 100%;
  top: -2.5%;
  left: -2%;
}

.field-video.video-frame-1:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-1.png);
}

.field-video.video-frame-2:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-2.png);
  width: 105%;
  height: 124%;
  top: -14.5%;
  left: -3.5%;
}

.submission-content-wrapper .field-video-wrapper .video-frame-2 video[style] {
  border-radius: 6vw;
}

.field-video.video-frame-3:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-3.png);
  width: 106%;
  height: 111%;
  top: -5.1%;
  left: -2.5%;
}

.submission-content-wrapper .field-video-wrapper .video-frame-3 video[style] {
  border-radius: 8%;
}

.video-control {
  margin-top: 2%;
  /*border-top: 3px solid white;*/
  position: relative;
}

.video-control .btn-play,
.video-control .btn-mute {
  width: 3.5vw;
  height: 3.5vw;
  background-size: 100% 100%;
  display: inline-block;
  cursor: pointer;
}

.video-control .btn-play {
  background-image: url(/modules/custom/glico_submission/upload/btn-play-control.png);
  margin-right: 0.3rem;
}

.video-control .btn-mute {
  background-image: url(/modules/custom/glico_submission/upload/btn-mute-control.png);
}

.video-control .text-time {
  font-size: 1.74vw;
  color: white;
  position: absolute;
  top: 4vw;
  margin-left: 1.1vw;
}

.video-control .btn-fullscreen {
  padding: 0.97vw 0.7vw 0.14vw 0.7vw;
  float: right;
  display: inline-block;
  font-size: 1.52vw;
  color: white;
  background-color: #F99EC6;
  border-radius: 1.74vw;
  border: 0.14vw solid white;
  margin-top: 0.14vw;
  cursor: pointer;
}

.info-wrapper {
  background-color: white;
  flex-grow: 1;
  border-radius: 3vw;
  padding: 1.4vw 1.8vw;
  border: 0.14vw solid #ffd3e8;
  height: 38.19vw;
  max-width: 29%;
}

.info-wrapper .baby-name-label {
  font-size: 1.74vw;
  color: #F99EC7;
  text-align: center;
  margin: 0.7vw 0;
}

.info-wrapper .baby-name {
  font-size: 1.74vw;
  color: white;
  text-align: center;
  background-color: #F99EC7;
  border-radius: 1.4vw;
  line-height: 2.1vw;
  padding-top: 0.97vw;
  text-transform: uppercase;
  margin-bottom: 1.4vw;
}

.info-wrapper .caption {
  font-size: 1.4vw;
  color: #6081C4;
  border: 0.07vw solid #F99EC6;
  padding: 1.2vw 1vw;
  border-radius: 1.4vw;
  margin: 0.7vw 0 1.4vw;
  height: 13.19vw;
  overflow: hidden;
}

.info-wrapper .caption > div {
  height: 100%;
  word-break: break-word;
}

.field-flag .ajax-progress {
  display: none;
}

.field-flag .flag {
  display: flex;
  align-items: center;
}

.field-flag .flag > a {
  display: block;
  width: 2.98vw;
  height: 2.77vw;
  background-size: 100% 100%;
  margin-right: 0.7vw;
}

.field-flag .action-unflag > a {
  background-image: url(/themes/custom/glico/images/discover/btn-unlike.png);
}

.field-flag .action-flag > a {
  background-image: url(/themes/custom/glico/images/discover/btn-like.png);
}

.field-flag .flag .like-count,
#btn-share {
  font-size: 1.4vw;
  color: #F691BE;
}

#btn-share {
  font-size: 1.4vw;
  padding-left: 3.68vw;
  background-image: url(/themes/custom/glico/images/discover/btn-share.png);
  background-size: 2.77vw 2.98vw;
  background-repeat: no-repeat;
  line-height: 3.47vw;
  margin-top: 0.69vw;
  cursor: pointer;
}

.info-wrapper .user-info {
  display: flex;
  align-items: center;
}

.info-wrapper .user-info .avatar {
  width: 3.5vw;
  border-radius: 50%;
  margin-right: 0.7vw;
}

.info-wrapper .user-info .username {
  font-size: 1.74vw;
  color: #6081C4;
  text-align: center;
  padding-top: 0.7vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#btn-apply {
  position: absolute;
  display: block;
  left: calc(50% - 20.8vw);
  top: 77vw;
  font-family: SVN-Cookies, cursive;
  font-size: 4.63vw;
  color: white;
  background-image: url(/themes/custom/glico/images/front/videos/btn-bg-discover.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 41.6vw;
  height: 11vw;
  line-height: 9vw;
  margin: 0 0.25vw;
  cursor: pointer;
  transition: background ease 0.2s;
  text-shadow: 0 2px 3px #777777;
  padding-left: 2.4vw;
  margin-top: 70vw;
}

#btn-apply a {
  color: white;
}

#btn-apply a.no-sp {
  display: initial;
}

#btn-apply a.no-pc {
  display: none;
}

#discover-section-winning-list .nutrients img {
  position: absolute;
  pointer-events: none;
}

#discover-section-winning-list .nutrients img:nth-child(1) {
  top: 121vw;
  left: 1vw;
  width: 17.5vw;
  animation: fly-up-1 30s;
  animation-iteration-count: infinite;
}

@keyframes fly-up-1 {
  0%   {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

#discover-section-winning-list .nutrients img:nth-child(2) {
  top: 155vw;
  left: 8.5vw;
  width: 15.5vw;
  animation: fly-up-2 20s;
  animation-iteration-count: infinite;
}

@keyframes fly-up-2 {
  0%   {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

#discover-section-winning-list .nutrients img:nth-child(3) {
  left: 53vw;
  width: 13vw;
  animation: fly-up-3 17s;
  animation-iteration-count: infinite;
  top: 163vw;
}

@keyframes fly-up-3 {
  0%   {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

#discover-section-winning-list .nutrients img:nth-child(4) {
  top: 128vw;
  left: 31vw;
  width: 19.5vw;
  animation: fly-up-4 15s;
  animation-iteration-count: infinite;
}

@keyframes fly-up-4 {
  0%   {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

#discover-section-winning-list .nutrients img:nth-child(5) {
  top: 132vw;
  left: 60.5vw;
  width: 20vw;
  animation: fly-up-5 30s;
  animation-iteration-count: infinite;
}

@keyframes fly-up-5 {
  from { -webkit-transform: rotate(0deg) translateX(2vw) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(2vw) rotate(-360deg); }
}

.no-pc {
  display: none;
}

.slidecontainer {
  width: 100%;
  margin-bottom: 0.5vw;
}

#seekslider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#seekslider:hover {
  opacity: 1;
}

#seekslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #EE7BA3;
  cursor: pointer;
}

#seekslider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #EE7BA3;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #btn-apply a.no-pc {
    display: initial;
  }

  #btn-apply a.no-sp {
    display: none;
  }

  #content-wrapper #banner-img {
    width: 40vw;
    padding-top: 3vw;
    margin-top: 0;
  }

  .submission-content-wrapper {
    flex-wrap: wrap;
    width: 87vw;
  }

  .submission-content-wrapper .field-video-wrapper {
    flex-basis: 100%;
    margin-right: 0;
  }

  .info-wrapper {
    max-width: 100%;
    height: 34vw;
  }

  .submission-content-wrapper .field-video-wrapper video[style] {
    width: 100% !important;
    height: 50vw !important;
    border-radius: 3vw;
  }

  .page-node-content {
    margin-top: 4vw;
  }

  .video-control {
    border-top: 2px solid white;
  }

  .video-control .btn-play {
    margin-right: 0;
  }

  .video-control .btn-play, .video-control .btn-mute {
    width: 5.5vw;
    height: 5.5vw;
  }

  .video-control .text-time {
    font-size: 3.74vw;
    top: 6.5vw;
  }

  .video-control .btn-fullscreen {
    padding: 0;
    width: 32vw;
    height: 5vw;
    text-align: center;
    line-height: 6.5vw;
    font-size: 3vw;
    border-radius: 4vw;
    margin-top: 0.14vw;
  }

  #content-wrapper {
    background-image: url(/themes/custom/glico/images/discover/discovery-bg-sp.png);
    height: 216.5vw;
    margin-top: 13vw;
  }


  #discover-section-winning-list .nutrients img:nth-child(2) {
    top: 199vw;
    left: 24.5vw;
    width: 23vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(5) {
    top: 170vw;
    left: 41.5vw;
    width: 20vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(3) {
    left: 54vw;
    width: 16vw;
    top: 201vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(4) {
    top: 177vw;
    left: 8vw;
    width: 20.5vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(1) {
    top: 191vw;
    left: 3vw;
    width: 19.5vw;
  }

  #btn-apply {
    left: calc(50% - 27vw);
    top: 188vw;
    font-size: 5.63vw;
    background-size: 100% 100%;
    width: 54vw;
    height: 14vw;
    line-height: 11vw;
    padding-left: 5vw;
    margin: 0;
  }

  .info-wrapper .user-info .avatar {
    width: 6.5vw;
    margin-right: 1vw;
  }

  .info-wrapper .user-info .username {
    font-size: 3.4vw;
    padding-top: 2vw;
    width: 29vw;
    text-align: left;
  }

  .no-pc {
    display: initial;
  }

  .no-sp {
    display: none;
  }

  .info-wrapper {
    padding: 1.4vw 3vw;
    position: relative;
  }

  .info-wrapper .baby-name-label.no-pc {
    font-size: 3vw;
    width: 28vw;
    display: block;
  }

  .baby-name-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1vw;
  }

  .info-wrapper .baby-name {
    font-size: 4vw;
    border-radius: 1.4vw;
    padding-top: 1vw;
    height: 7vw;
    line-height: 7vw;
    flex-grow: 1;
    margin-left: 2vw;
    width: 51vw;
  }

  .info-wrapper .baby-name > span {
    width: 100%;
    padding: 0 2vw;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-wrapper .caption {
    font-size: 2.5vw;
    border: 1px solid #F99EC6;
    padding: 1.5vw 2vw;
    margin: 0.7vw 0 1.4vw;
    height: 13vw;
  }

  .field-flag {
    position: absolute;
    top: 2vw;
    left: 40vw;
  }

  .field-flag .flag > a {
    width: 5vw;
    height: 4.6vw;
    margin-right: 1vw;
  }

  .field-flag .flag .like-count, #btn-share {
    font-size: 2.4vw;
    color: #F691BE;
    padding-top: 1vw;
  }

  #btn-share {
    position: absolute;
    top: 1.5vw;
    left: 70vw;
    font-size: 2.4vw;
    padding-left: 5vw;
    background-size: 4.2vw 4.2vw;
  }

  #seekslider {
    height: 2vw;
  }

  #seekslider::-webkit-slider-thumb {
    width: 3.5vw;
    height: 3.5vw;
  }

  #seekslider::-moz-range-thumb {
    width: 3.5vw;
    height: 3.5vw;
  }
}

@media all and (min-width: 1024px) {
  #content-wrapper #banner-img {
    width: 20vw;
  }

  .page-node-content {
    margin-top: 3vw;
  }

  .submission-content-wrapper {
    width: 80vw;
  }

  .submission-content-wrapper .field-video-wrapper video[style] {
    height: 31.6vw !important;
  }

  .info-wrapper .user-info .avatar {
    width: 3vw;
  }

  .info-wrapper .user-info .username {
    font-size: 1.5vw;
  }

  .info-wrapper .baby-name-label {
    font-size: 1.5vw;
    margin: 0.5vw 0;
  }

  .info-wrapper .baby-name {
    font-size: 1.5vw;
    line-height: 1.6vw;
    padding-top: 0.7vw;
    margin-bottom: 1.1vw;
  }

  .info-wrapper .caption {
    font-size: 1.3vw;
  }

  .info-wrapper {
    height: 36vw;
  }

  #btn-apply {
    top: 75vw;
    margin: 0;
  }

  #discover-section-winning-list .nutrients img:nth-child(4) {
    top: 62vw;
    left: 31vw;
    width: 16.5vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(5) {
    top: 65vw;
    left: 60.5vw;
    width: 17vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(1) {
    top: 70vw;
    left: 1vw;
    width: 14.5vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(2) {
    top: 80vw;
    left: 14.5vw;
    width: 14.5vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(3) {
    left: 55vw;
    width: 12vw;
    top: 86vw;
  }

  #content-wrapper {
    height: 103vw;
    background-position-y: -73vw;
  }

  .video-control .text-time {
    top: 3.8vw;
  }
}

@media all and (min-width: 1400px) {
  .video-control .text-time {
    top: 3.5vw;
  }
}

@media all and (width: 768px) {
  .video-control .text-time {
    top: 5vw;
  }
}

@media all and (width: 320px) {
  .video-control .text-time {
    top: 7vw;
  }
}


/*==============================LARGE SCREEN============================*/
@media all and (min-width: 1280px) {
  #content-wrapper #banner-img {
    margin-top: 89.6px;
  }
}