/* COMMON */
@font-face {
  font-family: SVN-Cookies;
  src: url('/themes/custom/glico/fonts/svn-cookies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTM-Cookies;
  src: url('/themes/custom/glico/fonts/utm-cookies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#btn-apply .ajax-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a5dcfdc7;
  z-index: 101;
}

#btn-apply .ajax-progress-throbber .throbber {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10vw;
  height: 10vw;
  background-image: url(/modules/custom/glico_submission/images/loading.gif);
  background-size: 100% 100%;
  z-index: 102;
  transform: translate(-50%, -50%);
}

.ajax-progress-fullscreen {
  background-image: url(/modules/custom/glico_submission/images/loading.gif);
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 8vw;
  height: 8vw;
  transform: translate(-50%, -50%);
   padding: 0;
  opacity: 1;
  border-radius: 7px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
  scroll-behavior: smooth;
}

html * {
  font: inherit;
}

#section-header {
  font-family: Baloo Tammudu, cursive;
  background-color: #f691be;
}

#content-wrapper {
  margin-top: 6vw;
  background-image: url(/themes/custom/glico/images/discover/discovery-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 175.5vw;
}

#content-wrapper .container {
  max-width: 1200px;
  margin: 0 auto;
  width: 88vw;
  text-align: center;
}

#content-wrapper #banner-img {
  width: 27vw;
  margin: 0 auto 1.25rem;
  max-width: 23.75rem;
}

#content-wrapper #banner-img img {
  width: 100%;
}

#content-wrapper #btn-wrapper {
  margin-top: 1.25rem;
  text-align: center;
}

#content-wrapper #btn-wrapper div {
  display: inline-block;
  font-family: SVN-Cookies, cursive;
  font-size: 1.6rem;
  color: white;
  background-image: url(/themes/custom/glico/images/front/rules/btn-bg-tab.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 17rem;
  height: 3.75rem;
  line-height: 3.1rem;
  margin: 0 0.3rem;
  cursor: pointer;
  transition: background ease 0.2s;
  text-shadow: 0 2px 3px #777777;
  text-align: left;
  padding-left: 1.9rem;
}

#content-wrapper #btn-wrapper div:hover,
#content-wrapper #btn-wrapper div.is-active {
  background-image: url(/themes/custom/glico/images/front/rules/btn-bg-tab-active.png);
}

#content-wrapper .views-exposed-form {
  display: none;
}

#content-wrapper video[style] {
  width: 100% !important;
  height: 20.2vw!important;
  max-height: 270px;
  border-radius: 1vw;
}

#content-wrapper .video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2.5rem auto;
  max-width: 1000px;
  width: 85%;
}

#content-wrapper .video-list .views-row {
  width: 48%;
  margin-bottom: 2.5rem;
  position: relative;
}

#content-wrapper .video-list .views-row .views-field-field-video .field-content {
  background-color: black;
  font-size: 0;
  border-radius: 1vw;
}

#content-wrapper .video-list .views-field-nothing a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content-wrapper .video-list .views-field-nothing a > div {
  width: 100%;
  height: 100%;
}

#content-wrapper .video-list .views-field-nothing a > div:before {
  position: absolute;
  content: "";
  display: block;
  width: 102%;
  height: 105%;
  background-size: 100% 100%;
  top: -3.5%;
  left: -2%;
}

#content-wrapper .video-list .views-field-nothing a > div.video-frame-1:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-1.png);
}

#content-wrapper .video-list .views-field-nothing a > div.video-frame-2:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-2.png);
  width: 105%;
  height: 123%;
  top: -14.5%;
  left: -3.5%;
}

#content-wrapper .video-list .views-field-nothing a > div.video-frame-2 video[style] {
  border-radius: 4vw;
}

#content-wrapper .video-list .views-field-nothing a > div.video-frame-3:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-3.png);
  width: 106%;
  height: 110%;
  top: -5.1%;
  left: -2.5%;
}

#content-wrapper .video-list .views-field-nothing a > div.video-frame-3 video[style] {
  border-radius: 8%;
}

#content-wrapper .video-list .views-field-nothing a .btn-play {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 3.1rem;
  height: 3.1rem;
  margin: auto;
  background-image: url(/modules/custom/glico_submission/upload/btn-play.png);
  background-size: 100% 100%;
}

#content-wrapper nav .js-pager__items a[rel="next"] {
  position: absolute;
  right: 0;
  top: 45%;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(/themes/custom/glico/images/discover/btn-next.png);
  background-size: 100% 100%;
}

#content-wrapper nav .js-pager__items a[rel="prev"] {
  position: absolute;
  left: 0;
  top: 45%;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(/themes/custom/glico/images/discover/btn-prev.png);
  background-size: 100% 100%;
}

#content-wrapper nav .js-pager__items a[rel="next"] span,
#content-wrapper nav .js-pager__items a[rel="prev"] span {
  display: none;
}

#content-wrapper .view-discover-content {
  position: relative;
}

.empty-message {
  font-family: Baloo Tammudu, cursive;
  font-size: 1.83vw;
  color: #DA4F82;
  border-radius: 0.6rem;
  background-color: #FFD4E8;
  padding: 2.5rem 4.4rem;
  width: 80vw;
  max-width: 800px;
  margin: 3.1rem auto;
}

.empty-message p:nth-child(2) {
  line-height: 1.5;
  margin-top: 1.25rem;
}

.empty-message-img {
  width: 60%;
}

#btn-apply {
  position: absolute;
  display: block;
  left: calc(50% - 20.8vw);
  top: 154vw;
  font-family: SVN-Cookies, cursive;
  font-size: 4.63vw;
  color: white;
  background-image: url(/themes/custom/glico/images/front/videos/btn-bg-discover.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 41.6vw;
  height: 11vw;
  line-height: 9vw;
  cursor: pointer;
  transition: background ease 0.2s;
  text-shadow: 0 2px 3px #777777;
  padding-left: 3vw;
  text-align: left;
}

#btn-apply a {
  color: white;
}

#btn-apply a.no-sp {
  display: initial;
}

#btn-apply a.no-pc {
  display: none;
}

#discover-section-winning-list .nutrients img {
  position: absolute;
  pointer-events: none;
}

#discover-section-winning-list .nutrients img:nth-child(1) {
  top: 126vw;
  left: 1vw;
  width: 17.5vw;
  animation: fly-up-1 30s;
  animation-iteration-count: infinite;
}

@keyframes fly-up-1 {
  0%   {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

#discover-section-winning-list .nutrients img:nth-child(2) {
  top: 162vw;
  left: 8.5vw;
  width: 15.5vw;
  animation: fly-up-2 20s;
  animation-iteration-count: infinite;
}

@keyframes fly-up-2 {
  0%   {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}

#discover-section-winning-list .nutrients img:nth-child(3) {
  left: 53vw;
  width: 13vw;
  animation: fly-up-3 17s;
  animation-iteration-count: infinite;
  top: 170vw;
}

@keyframes fly-up-3 {
  0%   {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

#discover-section-winning-list .nutrients img:nth-child(4) {
  top: 135vw;
  left: 31vw;
  width: 19.5vw;
  animation: fly-up-4 15s;
  animation-iteration-count: infinite;
}

@keyframes fly-up-4 {
  0%   {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

#discover-section-winning-list .nutrients img:nth-child(5) {
  top: 139vw;
  left: 60.5vw;
  width: 20vw;
  animation: fly-up-5 30s;
  animation-iteration-count: infinite;
}

@keyframes fly-up-5 {
  from { -webkit-transform: rotate(0deg) translateX(2vw) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(2vw) rotate(-360deg); }
}

#empty-message-img #dancing-bear-1 {
  top: 8vw;
  left: 29vw;
}
#empty-message-img .dancing-bear-1 {
  top: -1vw;
  left: 2vw;
  width: 10vw;
}
#empty-message-img .dancing-bear-1-hand-1 {
  top: 2.2vw;
  left: 1.5vw;
  width: 5vw;
  transform: rotate(-5deg);
  transform-origin: bottom right;
  animation: dancing-bear-1-hand-1 0.75s;
  animation-iteration-count: infinite;
}

#empty-message-img .dancing-bear-1-hand-2 {
  top: 1.4vw;
  left: 9vw;
  width: 6vw;
  z-index: 0;
  transform: rotate(5deg);
  transform-origin: top right;
  animation: dancing-bear-2-hand-2 0.75s;
  animation-iteration-count: infinite;
}
#empty-message-img #dancing-bear-2 {
  top: -6vw;
  left: 19vw;
}
#empty-message-img .dancing-bear-2 {
  top: -2vw;
  left: 0vw;
  width: 13.5vw;
}
#empty-message-img .dancing-bear-2-hand-1 {
  top: 1.2vw;
  left: 0;
  width: 6.5vw;
  transform: rotate(-5deg);
  transform-origin: bottom right;
  animation: dancing-bear-2-hand-1 0.75s;
  animation-iteration-count: infinite;
}
#empty-message-img .dancing-bear-2-hand-2 {
  top: 4.4vw;
  left: 5vw;
  width: 6vw;
  z-index: 1;
  transform: rotate(5deg);
  transform-origin: top right;
  animation: dancing-bear-2-hand-2 0.75s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 767px) {
  #content-wrapper {
    background-image: url(/themes/custom/glico/images/discover/discovery-bg-sp.png);
    height: 216.5vw;
    margin-top: 13vw;
  }

  #content-wrapper #banner-img {
    width: 40vw;
    padding-top: 3vw;
  }

  #content-wrapper #btn-wrapper div {
    font-size: 3.35vw;
    width: 38vw;
    height: 8.5vw;
    line-height: 6.5vw;
    margin: 0 0.65vw;
    padding-left: 5vw;
  }

  #content-wrapper .video-list .views-field-nothing a .btn-play {
    width: 5.5vw;
    height: 5.5vw;
  }

  #content-wrapper nav .js-pager__items a[rel="next"],
  #content-wrapper nav .js-pager__items a[rel="prev"] {
    width: 4.5vw;
    height: 4.5vw;
  }

  #content-wrapper .video-list {
    margin: 6vw auto;
  }

  #content-wrapper .video-list .views-row {
    margin-bottom: 2.78vw;
  }

  .empty-message {
    font-size: 3.5vw;
    border-radius: 5vw;
    padding: 5.3vw 3.2vw 0;
    margin: 5vw auto;
  }

  .empty-message-img {
    width: 65%;
  }

  #btn-apply a.no-pc {
    display: initial;
  }

  #btn-apply a.no-sp {
    display: none;
  }

  #content-wrapper #btn-wrapper {
    margin-top: 3vw;
  }

  #btn-apply {
    left: calc(50% - 27vw);
    top: 188vw;
    font-size: 5.63vw;
    background-size: 100% 100%;
    width: 54vw;
    height: 14vw;
    line-height: 11vw;
    padding-left: 5vw;
  }

  .empty-message p:nth-child(2) {
    line-height: 1.3;
    margin-top: 2vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(2) {
    top: 157vw;
    left: 24.5vw;
    width: 23vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(5) {
    top: 147vw;
    left: 41.5vw;
    width: 20vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(3) {
    left: 54vw;
    width: 16vw;
    top: 165vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(4) {
    top: 144vw;
    left: 8vw;
    width: 20.5vw;
  }

  #discover-section-winning-list .nutrients img:nth-child(1) {
    top: 157vw;
    left: 3vw;
    width: 19.5vw;
  }

  #content-wrapper .video-list {
    width: 95%;
  }

  #content-wrapper video[style] {
    width: 40vw !important;
    height: 23vw!important;
  }

  #content-wrapper .video-list .views-field-nothing a > div:before {
    top: -2.5%;
    height: 102%;
  }

  #content-wrapper nav .js-pager__items a[rel="next"] {
    right: -4vw;
  }

  #content-wrapper nav .js-pager__items a[rel="prev"] {
    left: -4vw;
  }
}


/*==============================LARGE SCREEN============================*/
@media all and (min-width: 1280px) {
  #content-wrapper {
    margin-top: 89.6px;
  }
}