/* COMMON */
@font-face {
  font-family: SVN-Cookies;
  src: url('/themes/custom/glico/fonts/svn-cookies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTM-Cookies;
  src: url('/themes/custom/glico/fonts/utm-cookies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html * {
  font: inherit;
}

#section-header {
  font-family: Baloo Tammudu, cursive;
  background-color: #f691be;
}

#section-banner {
  margin-top: 7vw;
  background-image: url(/themes/custom/glico/images/front/background/bg-1.png);
  background-position-y: -7vw;
  background-size: 100% auto;
  position: relative;
  height: 125vw;
  z-index: 2;
}

#section-videos {
  background-image: url(/themes/custom/glico/images/front/background/bg-2.png);
  background-size: 100% auto;
  height: 161vw;
  margin-top: -10.6vw;
  position: relative;
  z-index: 1;
  padding-top: 22vw;
}

#section-winning-list {
  background-image: url(/themes/custom/glico/images/front/background/bg-3.png);
  background-size: 100% auto;
  margin-top: -39.5vw;
  padding-top: 41.5vw;
  height: 218vw;
  position: relative;
}

/*==============================ANCHOR============================*/
.anchor {
  position: absolute;
}

#rules {
  top: 43.5vw;
}

#videos {
  top: 130vw;
}

#winners {
  top: 275vw;
}

/* SECTION BANNER */

#section-header {
  display: flex;
  align-items: center;
  height: 7vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

body.toolbar-horizontal #section-header {
  top: 79px;
}

body.toolbar-vertical #section-header {
  top: 38px;
}

#section-header .logo {
  margin-left: 10.9vw;
  width: 12vw;
}

#section-header ul.header-menu {
  display: flex;
  margin-left: 7.4vw;
  margin-top: 0.7vw;
}

#section-header ul.header-menu li {
  margin-right: 2.1vw;
  position: relative;
}

#section-header ul.header-menu li + li:before {
  content: "";
  display: block;
  border-radius: 0.2vw;
  height: 2.6vw;
  position: absolute;
  left: -1.1vw;
  top: -1vw;
  border-left: 0.2vw solid white;
}

#section-header ul.header-menu li a {
  color: white;
  font-size: 1.52vw;
  transition: color ease 0.2s;
}

#section-header ul.header-menu li a:hover {
  color: #ed1c24;
}

/*=================================STAGE=============================*/
#part-stage {
  position: relative;
}

#part-stage canvas {
  display: block;
}

#part-stage img {
  pointer-events: none;
}

#part-stage .disco-light {
  position: absolute;
  top: -1vw;
  right: 0;
  left: 0;
  margin: auto;
  width: 8vw;
}

#part-stage .disco-light-sparkle {
  position: absolute;
  top: 1vw;
  right: 0;
  left: 0;
  margin: auto;
  width: 8vw;
  animation: sparkle 0.1s;
  animation-iteration-count: infinite;
}

#part-stage .music-stream-1 {
  position: absolute;
  top: -4.5vw;
  right: 0;
  left: 0;
  width: 100%;
}

#part-stage .music-stream-2 {
  position: absolute;
  top: 56vw;
  right: 0;
  left: 0;
  width: 100%;
}

#part-stage .guitar-bear {
  position: absolute;
  top: 24.5vw;
  left: 14.5vw;
  width: 15vw;
  animation: dancing-guitar-bear 3s;
  animation-iteration-count: infinite;
}

@keyframes dancing-guitar-bear {
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

#part-stage .dancing-bear-1 {
  position: absolute;
  top: 26.2vw;
  left: 36.5vw;
  width: 12.5vw;
  animation: dancing-bear-1 3s;
  animation-iteration-count: infinite;
}

@keyframes dancing-bear-1 {
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(0, 2px);
    transform: translate(0, 2px);
  }
}

#part-stage .dancing-bear-2 {
  position: absolute;
  top: 22vw;
  left: 46.5vw;
  width: 14vw;
  animation: dancing-bear-2 3s;
  animation-iteration-count: infinite;
}

@keyframes dancing-bear-2 {
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
}

#part-stage .drum-bear {
  position: absolute;
  top: 24.2vw;
  left: 68.2vw;
  width: 20.5vw;
  animation: dancing-drum-bear 3s;
  animation-iteration-count: infinite;
}

@keyframes dancing-drum-bear {
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

#part-stage .text-wrapper-1 {
  position: absolute;
  top: 8.95vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 25vw;
  z-index: 2;
  display: inline-block;
}

#part-stage .text-wrapper-1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 50%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
  animation: shine 2s 1s;
  animation-delay: 5s;
  /*animation-iteration-count: infinite;*/
}

@keyframes shine {
  to {
    opacity: 1;
    right: 0;
  }
}

#part-stage .text-1 {
  width: 100%;
  animation: zoomIn 3s;
  animation-timing-function: ease-in;
}

@keyframes zoomIn {
  from{transform:scale(0)} to{transform:scale(1)}
}

#part-stage .text-2 {
  position: absolute;
  top: 10.8vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 77vw;
  z-index: 3;
}

#part-stage .text-2-decor {
  position: absolute;
  top: 5.6vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 51vw;
  z-index: 1;
}


/*=================================END STAGE=============================*/


/*=================================PART INFO=============================*/
#part-info {
  background-color: #fff;
  width: 78vw;
  border-radius: 2.6vw;
  margin: 0 auto;
  padding-top: 1.8vw;
  height: 68vw;
  font-family: UTM-Cookies, cursive;
  top: 43.4vw;
  position: absolute;
  left: 0;
  right: 0;
}

#part-info ul.tabs {
  text-align: center;
}

#part-info ul.tabs li {
  display: inline-block;
  font-family: SVN-Cookies, cursive;
  font-size: 2.16vw;
  color: white;
  background-image: url(/themes/custom/glico/images/front/rules/btn-bg-tab.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 21.1vw;
  height: 5.3vw;
  line-height: 4.5vw;
  margin: 0 0.25vw;
  cursor: pointer;
  transition: background ease 0.2s;
  text-shadow: 0 2px 3px #777777;
}

#part-info ul.tabs li:hover,
#part-info ul.tabs li.is-active {
  background-image: url(/themes/custom/glico/images/front/rules/btn-bg-tab-active.png);
}

#content-prizes .row-1 {
  display: flex;
  align-items: flex-end;
  width: 60vw;
  margin: 1.5vw auto 2.5vw;
}

#content-prizes .row-1 > img {
  margin-right: 3.5vw;
  width: 26.2vw;
}

#content-prizes .row-1 .prize-jackpot > img {
  margin: 0 auto;
  display: block;
  width: 9.3vw;
}

#content-prizes .title {
  display: flex;
  align-items: flex-end;
  color: #f99ec6;
}

#content-prizes .row-1 .title > div:first-child {
  font-size: 5.58vw;
  margin-right: 0.5vw;
}

#content-prizes .row-1 .title > div:last-child {
  font-size: 2.17vw;
}

#content-prizes .row-1 .title > div > p {
  line-height: 1.15;
}

#content-prizes .row-1 p.details {
  font-size: 1.74vw;
  color: #2f4a97;
  line-height: 1.2;
  margin-top: 0.8vw;
  text-align: justify;
}

#content-prizes .row-2 {
  display: flex;
}

#content-prizes .row-2 > div {
  margin: 0 1.9vw;
}

#content-prizes .row-2 img {
  display: block;
  margin: 0 auto 0.5vw;
  width: 6.4vw;
}

#content-prizes .row-2 .title > div:first-child,
#content-prizes .row-3 .title > div:first-child {
  font-size: 4.34vw;
  margin-right: 0.5vw;
}

#content-prizes .row-2 .title > div:last-child,
#content-prizes .row-3 .title > div:last-child {
  font-size: 1.85vw;
}

#content-prizes .row-2 .title > div > p,
#content-prizes .row-3 .title > div > p {
  line-height: 1.15;
  white-space: nowrap;
}

#content-prizes .row-2 p.details {
  font-size: 1.74vw;
  color: #2f4a97;
  line-height: 1.3;
  margin: 0.8vw auto 0;
  width: 21vw;
}

#content-prizes .row-3 .prize-weekly {
  display: flex;
  align-items: flex-end;
  margin: 2vw auto 0;
  width: 61.5vw;
}

#content-prizes .row-3 .prize-weekly > img {
  margin-right: 1vw;
  width: 9.4vw;
}

#content-prizes .row-3 p.details {
  font-size: 1.74vw;
  color: #2f4a97;
  line-height: 1.3;
}

#content-rules {
  text-align: center;
  font-size: 1.74vw;
  color: #f287b7;
}

#content-rules .highlight {
  color: #465c9f;
}

#content-rules .steps li > img {
  margin: 2.4vw 0 1.2vw;
  width: 8.7vw;
}

#content-rules .steps li > p {
  margin: 0 auto;
  line-height: 1.3;
}

#content-rules .steps li:nth-child(1) > p {
  width: 58vw;
}

#content-rules .steps li:nth-child(2) > p {
  width: 60vw;
}

#content-rules .steps li:nth-child(3) > p:nth-child(2) {
  width: 58vw;
  margin-bottom: 2vw;
}

#content-rules .steps li:nth-child(3) > p:last-child {
  width: 63vw;
}

#content-regulations {
  padding-top: 3vw;
  width: 68vw;
  margin: 0 auto;
}

#content-regulations > p {
  font-size: 2.18vw;
  color: #f295bc;
  margin-bottom: 2.5vw;
}

#content-regulations > ul li {
  font-family: Baloo Tammudu, cursive;
  font-size: 1.52vw;
  color: #465c9f;
  line-height: 1.3;
  text-align: justify;
  padding-left: 3.7vw;
  position: relative;
  margin-bottom: 1.3vw;
}

#content-regulations > ul li:before {
  content: "";
  display: block;
  position: absolute;
  width: 2.92vw;
  height: 2.92vw;
  background-image: url(/themes/custom/glico/images/front/rules/bullet-check.png);
  background-size: 100%;
  left: 0;
  top: calc(50% - 1.7vw);
}

#section-banner .btn-join {
  font-family: UTM-Cookies, cursive;
  font-size: 4.74vw;
  color: white;
  background-image: url(/themes/custom/glico/images/front/rules/btn-bg-join.png);
  width: 47vw;
  height: 17.2vw;
  background-size: 100%;
  position: absolute;
  top: 113vw;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 21vw;
  padding-left: 6vw;
  text-shadow: 0 2px 4px #777777;
}

/*=================================END INFO=============================*/

/*=================================VIDEOS=============================*/

#section-videos .flag {
  position: absolute;
  top: 16vw;
  left: 2vw;
  width: 73vw;
}

#section-videos .balloon {
  position: absolute;
  top: -6vw;
  right: 1vw;
  width: 23.5vw;
}

#section-videos ul.videos {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: 0 2vw;
}

#section-videos ul.videos li {
  flex: 1 auto;
  margin-bottom: 6vw;
}

#section-videos ul.videos li.video-large {
  flex: 1 100%;
}

#section-videos ul.videos li .video-wrapper {
  width: 27vw;
  height: 27vw;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 0.2vw solid #f691be;
  position: relative;
}

#section-videos ul.videos li .video-wrapper:after {
  content: "";
  display: block;
  width: 5.5vw;
  height: 5.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/themes/custom/glico/images/front/videos/btn-play.png);
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 1;
}

#section-videos ul.videos li.video-large .video-wrapper:after {
  width: 8vw;
  height: 8vw;
}

#section-videos ul.videos li.video-large .video-wrapper {
  width: 50.7vw;
  height: 50.7vw;
  margin: auto;
  border: none;
}

#section-videos ul.videos li .video-frame {
  width: 27vw;
  height: 27vw;
  display: flex;
  margin: 0 auto;
  position: relative;
}

#section-videos ul.videos li.video-large .video-frame {
  width: 54vw;
  height: 54vw;
  background-image: url(/themes/custom/glico/images/front/videos/video-large-bg.png);
  background-size: 100% 100%;
  display: flex;
  margin: 0 auto;
}

#section-videos ul.videos li .video-frame:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1vw;
  width: 29vw;
  height: 27.5vw;
  background-image: url(/themes/custom/glico/images/front/videos/video-small-frame.png);
  background-size: 100% 100%;
}

#section-videos ul.videos li.video-large .video-frame:after {
  top: 1.5vw;
  left: -3.5vw;
  width: 60.6vw;
  height: 54.5vw;
  background-image: url(/themes/custom/glico/images/front/videos/video-large-frame.png);
}

#section-videos ul.videos li video {
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}


#section-videos .btn-discover {
  font-family: UTM-Cookies, cursive;
  font-size: 5.43vw;
  color: white;
  background-image: url(/themes/custom/glico/images/front/videos/btn-bg-discover.png);
  width: 41.6vw;
  height: 11vw;
  display: block;
  background-size: 100% 100%;
  margin: 6.8vw auto;
  line-height: 9vw;
  padding-left: 8vw;
  text-shadow: 0 2px 4px #777777;
}

/*=================================END VIDEOS===================================*/

/*=================================WINNING LIST===================================*/
#section-winning-list .users {
  width: 85vw;
  height: 98vw;
  margin: 0 0 0 11vw;
  background-image: url(/themes/custom/glico/images/front/list/list-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Baloo Tammudu, cursive;
  font-size: 2.68vw;
  padding-top: 35.5vw;
  padding-left: 10vw;
  position: relative;
}

#section-winning-list .users table,
#section-winning-list .users a {
  color: #6694d1;
}

#section-winning-list .users table tr td:nth-child(1) {
  width: 15.5vw;
}

#section-winning-list .users table tr td:nth-child(2) {
  width: 8vw;
  text-align: center;
}

#section-winning-list .users table tr:nth-child(10n + 1) {
  height: 5.7vw;
}

#section-winning-list .users table tr:nth-child(10n + 2) {
  height: 5.1vw;
}

#section-winning-list .users table tr:nth-child(10n + 3) {
  height: 5.7vw;
}

#section-winning-list .users table tr:nth-child(10n + 4) {
  height: 5vw;
}

#section-winning-list .users table tr:nth-child(10n + 5) {
  height: 6vw;
}

#section-winning-list .users table tr:nth-child(10n + 6) {
  height: 5.5vw;
}

#section-winning-list .users table tr:nth-child(10n + 7) {
  height: 5vw;
}

#section-winning-list .users table tr:nth-child(10n + 8) {
  height: 5.4vw;
}

#section-winning-list .users table tr:nth-child(10n + 9) {
  height: 5vw;
}

#section-winning-list .users table tr:nth-child(n + 11) {
  display: none;
}

#section-winning-list .view-frontpage-wrapper {
  position: relative;
}

#section-winning-list .users .pager {
  position: absolute;
  top: 52vw;
  left: 1vw;
}

#section-winning-list .users .pager span {
  font-family: UTM-Cookies, cursive;
  display: inline-block;
  width: 5.2vw;
  height: 5.3vw;
  line-height: 4.7vw;
  color: white;
  padding-left: 1.6vw;
  background-image: url(/themes/custom/glico/images/front/list/pager-bg.png);
  background-size: 100% 100%;
  cursor: pointer;
  transition: background ease 0.2s;
}

#section-winning-list .users .pager span:hover,
#section-winning-list .users .pager span.is-active {
  background-image: url(/themes/custom/glico/images/front/list/pager-bg-active.png);
}#section-winning-list .users .pager span.is-active {
 }

#section-winning-list #part-list {
  position: relative;
}

#section-winning-list .micro-bear {
  position: absolute;
  top: -5vw;
  left: 1.5vw;
  width: 42vw;
  height: 67vw;
  background-image: url(/themes/custom/glico/images/front/list/micro-bear.png);
  background-size: 100%;
  z-index: 0;
}

#section-winning-list .music-stream-3 {
  position: absolute;
  top: -27vw;
  right: 0;
  width: 46vw;
  pointer-events: none;
}

#section-winning-list .nutrients {
  position: relative;
}

#section-winning-list .nutrients img {
  position: absolute;
}

#section-winning-list .nutrients img:nth-child(1) {
  top: -30vw;
  left: 0;
  width: 17.5vw;
}

#section-winning-list .nutrients img:nth-child(2) {
  top: -3.5vw;
  left: 16.5vw;
  width: 23.5vw;
}

#section-winning-list .nutrients img:nth-child(3) {
  top: -9vw;
  left: 43vw;
  width: 16vw;
}

#section-winning-list .nutrients img:nth-child(4) {
  top: 7vw;
  left: 47vw;
  width: 19.5vw;
}

#section-winning-list .nutrients img:nth-child(5) {
  top: -4vw;
  left: 76.5vw;
  width: 20vw;
}

#section-winning-list .nutrients img.text-3 {
  top: 20vw;
  width: 100%;
}

#part-footer {
  font-family: UTM-Cookies, cursive;
  font-size: 1.81vw;
  color: #191919;
  text-align: center;
  margin-top: 53vw;
  line-height: 1.5;
}

#part-footer a {
  color: #191919;
}

#part-footer p:nth-child(4) {
  margin-left: -4.5vw;
}

#part-footer p span.strike {
  margin: 0 3vw 0 2vw;
}

#part-footer p.tel {
  font-size: 4.1vw;
  padding-left: 4vw;
  background-image: url(/themes/custom/glico/images/front/footer/icon-phone.png);
  background-repeat: no-repeat;
  width: 32vw;
  margin: 0.5vw auto 2.5vw;
  background-size: 4vw;
  background-position-y: 1.8vw;
}

#part-footer .social-links {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 9vw;
}

#part-footer .social-links a:first-child img {
  width: 4vw;
}

#part-footer .social-links a:nth-child(2) img {
  width: 3.5vw;
  margin-left: 1.5vw;
}

#part-footer .messenger {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  display: flex;
  align-items: center;
  z-index: 99;
}

#part-footer .messenger .mess {
  background-color: #6697D3;
  height: 3.3vw;
  line-height: 3.3vw;
  color: white;
  width: 15vw;
  border-radius: 2vw;
  font-size: 1.3vw;
  margin-right: 0.5vw;
}

#part-footer .messenger .mess-icon {
  width: 6vw;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  #section-header ul.header-menu li + li:before {
    top: -0.6vw;
  }
}

@media all and (max-width: 425px) {
  #section-header ul.header-menu li + li:before {
    top: 0.4vw;
  }
}