#part-list > p > img,
#section-videos > ul > li > video {
  display: none;
}

/* COMMON */
@font-face {
  font-family: SVN-Cookies;
  src: url('/themes/custom/glico/fonts/svn-cookies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: UTM-Cookies;
  src: url('/themes/custom/glico/fonts/utm-cookies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html * {
  font: inherit;
}

#section-header {
  font-family: 'Baloo Tammudu', cursive;
  background-color: #f691be;
}

#section-banner {
  margin-top: 7vw;
  background-image: url(/themes/custom/glico/images/front/background/bg-1.png);
  background-position-y: -7vw;
  background-size: 100% auto;
}

#section-videos {
  background-image: url(/themes/custom/glico/images/front/background/bg-2.png);
  background-size: 100% auto;
}

#section-winning-list {
  background-image: url(/themes/custom/glico/images/front/background/bg-3.png);
  background-size: 100% auto;
}

/* SECTION BANNER */

#section-header {
  display: flex;
  align-items: center;
  height: 7vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

body.toolbar-horizontal #section-header {
  top: 79px;
}

body.toolbar-vertical #section-header {
  top: 38px;
}

#section-header .logo {
  margin-left: 10.9vw;
  width: 12vw;
}

#section-header ul.header-menu {
  display: flex;
  margin-left: 7.4vw;
  margin-top: 0.7vw;
}

#section-header ul.header-menu li {
  margin-right: 2.1vw;
  position: relative;
}

#section-header ul.header-menu li + li:before {
  content: "";
  display: block;
  border-radius: 0.2vw;
  height: 2.6vw;
  position: absolute;
  left: -1.1vw;
  top: -1vw;
  border-left: 0.2vw solid white;
}

#section-header ul.header-menu li a {
  color: white;
  font-size: 1.52vw;
}

/*=================================STAGE=============================*/
#part-stage {
  position: relative;
  height: 43.4vw;
}

#part-stage img {
  pointer-events: none;
}

#part-stage .disco-light {
  position: absolute;
  top: -1vw;
  right: 0;
  left: 0;
  margin: auto;
  width: 8vw;
}

#part-stage .music-stream-1 {
  position: absolute;
  top: -4.5vw;
  right: 0;
  left: 0;
  width: 100%;
}

#part-stage .guitar-bear {
  position: absolute;
  top: 24.5vw;
  left: 14.5vw;
  width: 15vw;
}

#part-stage .dancing-bear-1 {
  position: absolute;
  top: 26.2vw;
  left: 36.5vw;
  width: 12.5vw;
}

#part-stage .dancing-bear-2 {
  position: absolute;
  top: 22vw;
  left: 46.5vw;
  width: 14vw;
}

#part-stage .drum-bear {
  position: absolute;
  top: 24.2vw;
  left: 68.2vw;
  width: 20.5vw;
}

#part-stage .text-1 {
  position: absolute;
  top: 8.95vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 25vw;
  z-index: 2;
}

#part-stage .text-2 {
  position: absolute;
  top: 10.8vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 77vw;
  z-index: 3;
}

#part-stage .text-2-decor {
  position: absolute;
  top: 5.6vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 51vw;
  z-index: 1;
}



/*=================================END STAGE=============================*/


/*=================================PART INFO=============================*/
#part-info {
  background-color: #fff;
  width: 78vw;
  border-radius: 2.6vw;
  margin: 0 auto;
  padding-top: 1.8vw;
  height: 69vw;
  font-family: UTM-Cookies, cursive;
}

#part-info ul.tabs {
  text-align: center;
}

#part-info ul.tabs li {
  display: inline-block;
  font-family: SVN-Cookies, cursive;
  font-size: 2.16vw;
  color: white;
  background-image: url(/themes/custom/glico/images/front/rules/btn-bg-tab.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 21.1vw;
  height: 5.3vw;
  line-height: 4.5vw;
  margin: 0 0.25vw;
  cursor: pointer;
}

#part-info ul.tabs li:hover,
#part-info ul.tabs li.is-active {
  background-image: url(/themes/custom/glico/images/front/rules/btn-bg-tab-active.png);
}

#content-prizes .row-1 {
  display: flex;
  align-items: flex-end;
  width: 60vw;
  margin: 1.5vw auto 3vw;
}

#content-prizes .row-1 > img {
  margin-right: 3.5vw;
  width: 26.2vw;
}

#content-prizes .row-1 .prize-jackpot > img {
  margin: 0 auto;
  display: block;
  width: 9.3vw;
}

#content-prizes .title {
  display: flex;
  align-items: flex-end;
  color: #f99ec6;
}

#content-prizes .row-1 .title > div:first-child {
  font-size: 5.58vw;
  margin-right: 0.5vw;
}

#content-prizes .row-1 .title > div:last-child {
   font-size: 2.17vw;
}

#content-prizes .row-1 .title > div > p {
   line-height: 1.15;
}

#content-prizes .row-1 p.details {
  font-size: 1.74vw;
  color: #2f4a97;
  line-height: 1.2;
  margin-top: 0.8vw;
  text-align: justify;
}

#content-prizes .row-2 {
  display: flex;
}

#content-prizes .row-2 > div {
  margin: 0 1.9vw;
}

#content-prizes .row-2 img {
  display: block;
  margin: 0 auto 0.5vw;
  width: 6.4vw;
}

#content-prizes .row-2 .title > div:first-child,
#content-prizes .row-3 .title > div:first-child {
  font-size: 4.34vw;
  margin-right: 0.5vw;
}

#content-prizes .row-2 .title > div:last-child,
#content-prizes .row-3 .title > div:last-child {
  font-size: 1.85vw;
}

#content-prizes .row-2 .title > div > p,
#content-prizes .row-3 .title > div > p {
  line-height: 1.15;
  white-space: nowrap;
}

#content-prizes .row-2 p.details {
  font-size: 1.74vw;
  color: #2f4a97;
  line-height: 1.3;
  margin: 0.8vw auto 0;
  width: 21vw;
}

#content-prizes .row-3 .prize-weekly {
  display: flex;
  align-items: flex-end;
  margin: 2vw auto 0;
  width: 61.5vw;
}

#content-prizes .row-3 .prize-weekly > img {
  margin-right: 1vw;
  width: 9.4vw;
}

#content-prizes .row-3 p.details {
  font-size: 1.74vw;
  color: #2f4a97;
  line-height: 1.3;
}

#content-rules {
  text-align: center;
  padding-top: 1.5vw;
  font-size: 1.74vw;
  color: #f287b7;
}

#content-rules .highlight {
  color: #465c9f;
}

#content-rules .steps li > img {
  margin: 2.4vw 0 1.5vw;
}

/*=================================END INFO=============================*/
