#section-header {
  background-color: #f691be;
}

#section-banner {
  background-image: url(/themes/custom/glico/images/front/background/bg-1.png);
}

#section-videos {
  background-image: url(/themes/custom/glico/images/front/background/bg-2.png);
}

#section-winning-list {
  background-image: url(/themes/custom/glico/images/front/background/bg-3.png);
}
