.adminimal-admin-toolbar .toolbar-icon-menu-link-contente84c95d1-67f8-4695-a573-22a168528817:before {
  background-image: url(../images/admin/barchart.svg);
}

#submission-manage-form .views-table th {
  color: #000;
}

#submission-manage-form .form-item-type {
  display: inline-block;
  margin-bottom: 0.1em;
}

#submission-manage-form a#edit-export {
  margin: 0;
}

#submission-manage-form .form-item-publish-score {
  margin: 1em 0;
}

#submission-manage-form .form-item-publish-score label {
  font-weight: bold;
}

select#edit-week-index {
  width: 145px;
}
