<div class="field-video-wrapper pick-frame-video-wrapper">
  <div id="pick-frame-video" class="field-video">
    <video src="{{ variables.video_src }}" alt=""></video>
  </div>
  <div class="video-control">
    <span class="btn-play"></span>
  </div>
</div>
<div class="toggle-pick-frame" type="button">Chọn khung hình</div>
<div class="pick-frame-wrapper" id="pick-frame-wrapper-div">
  <div class="pick-frame frame-1" data-frame-value="1">
    <span class="pick-frame-text pick-frame-text-1"></span>
  </div>
  <div class="pick-frame frame-2" data-frame-value="2">
    <span class="pick-frame-text pick-frame-text-2"></span>
  </div>
  <div class="pick-frame frame-3" data-frame-value="3">
    <span class="pick-frame-text pick-frame-text-3"></span>
  </div>
  <div class="pick-frame frame-4" data-frame-value="0">
    <span class="pick-frame-text pick-frame-text-4"></span>
  </div>
</div>