<a class="pick-a-frame">Chọn khung hình</a>
<div class="pick-frame-wrapper">
    <div class="pick-frame-col-left">
        <div class="pick-frame frame-1">
            <span class="pick-frame-text pick-frame-text-1"></span>
        </div>
        <div class="pick-frame frame-2">
            <span class="pick-frame-text pick-frame-text-2"></span>
        </div>
    </div>
    <div class="pick-frame-col-right">
        <div class="pick-frame frame-3">
            <span class="pick-frame-text pick-frame-text-3"></span>
        </div>
        <div class="pick-frame frame-4">
            <span class="pick-frame-text pick-frame-text-4"></span>
        </div>
    </div>
</div>