html {
  font-size: 62.5%;
}

.preview-bg {
  background-image: url(/modules/custom/glico_submission/upload/bg-submit.png);
  background-size: 100% auto;
  padding-top: 7vw;
  font-size: 0;
}

.preview-content #banner-img {
  width: 27vw;
  margin: 0 auto;
}

.preview-content #banner-img img {
  width: 100%;
}

.preview-wrapper {
  /*max-width: 1460px;*/
  width: 90vw;
  margin: 0 auto;
  display: flex;
  font-family: Baloo Tammudu, cursive;
}

.preview-wrapper * {
  /*font-size: 1.5rem;*/
}

.preview-wrapper .field-video-wrapper {
  flex-basis: 70%;
  margin-right: 1%;
}

.preview-wrapper .field-video-wrapper video {
  width: 100% !important;
  height: 35.5vw !important;
  /*max-height: 575px;*/
  border-radius: 1vw;
}

.field-video {
  background-color: black;
  position: relative;
  font-size: 0;
  border-radius: 1vw;
}

.field-video.video-frame-3 {
  border-radius: 5vw;
}

.field-video.video-frame-2 {
  border-radius: 6vw;
}

.field-video.video-frame-1 {
  border-radius: 1vw;
}

.field-video:before {
  position: absolute;
  content: "";
  display: block;
  width: 102%;
  height: 105%;
  background-size: 100% 100%;
  top: -2.5%;
  left: -2%;
}

.field-video.video-frame-1:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-1.png);
}

.field-video.video-frame-2:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-2.png);
  width: 105%;
  height: 123%;
  top: -14.5%;
  left: -4%;
}

.field-video.video-frame-2 video {
  border-radius: 8vw;
}

.preview-wrapper .field-video-wrapper .video-frame-2 video {
  border-radius: 4vw;
}

.field-video.video-frame-3:before {
  background-image: url(/modules/custom/glico_submission/upload/frame-3.png);
  width: 106%;
  height: 111%;
  top: -5.1%;
  left: -2.5%;
}

.field-video-wrapper .video-frame-3 video {
  border-radius: 8%;
}

.video-control {
  margin-top: 2%;
  /*border-top: 0.21vw solid white;*/
  position: relative;
}

.slidecontainer {
  width: 100%;
  margin-bottom: 0.5vw;
}

#seekslider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#seekslider:hover {
  opacity: 1;
}

#seekslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #EE7BA3;
  cursor: pointer;
}

#seekslider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #EE7BA3;
  cursor: pointer;
}

.video-control .btn-play,
.video-control .btn-mute {
  width: 3.5vw;
  height: 3.5vw;
  background-size: 100% 100%;
  display: inline-block;
  cursor: pointer;
}

.video-control .btn-play {
  background-image: url(/modules/custom/glico_submission/upload/btn-play-control.png);
  margin-right: 0.1rem;
}

.video-control .btn-mute {
  background-image: url(/modules/custom/glico_submission/upload/btn-mute-control.png);
}

.video-control .text-time {
  font-size: 1.74vw;
  color: white;
  position: absolute;
  top: 3vw;
  margin-left: 1.1vw;
  text-shadow: 2px 2px #8c8383;
}

.video-control .btn-fullscreen {
  padding: 0.97vw 0.7vw 0.14vw 0.7vw;
  float: right;
  display: inline-block;
  font-size: 1.52vw;
  color: white;
  background-color: #F99EC6;
  border-radius: 1.74vw;
  border: 0.14vw solid white;
  margin-top: 0.14vw;
  cursor: pointer;
}

.info-wrapper {
  background-color: white;
  flex-grow: 1;
  border-radius: 2vw;
  padding: 1.4vw 1.8vw;
  border: 0.14vw solid #ffd3e8;
  height: 37.8vw;
  max-width: 29%;
}

.preview-content {
  overflow: hidden;
}

.info-wrapper .baby-name-label {
  font-size: 1.74vw;
  color: #F99EC7;
  text-align: center;
  margin: 0.7vw 0;
}

.info-wrapper .baby-name {
  font-size: 1.74vw;
  color: white;
  text-align: center;
  background-color: #F99EC7;
  border-radius: 1.4vw;
  line-height: 2.1vw;
  padding-top: 0.97vw;
  text-transform: uppercase;
  margin-bottom: 1.4vw;
}

.info-wrapper .caption {
  font-size: 1.4vw;
  color: #6081C4;
  border: 0.07vw solid #F99EC6;
  padding: 1.2vw 1vw;
  border-radius: 1.4vw;
  margin: 0.7vw 0 1.4vw;
  height: 19.5vw;
  overflow: hidden;
}

.info-wrapper .caption > div {
  overflow-y: auto;
  height: 100%;
  word-break: break-word;
  padding-top: 0.2em;
  font-family: 'Comfortaa', cursive;
  line-height: 1.1;
}

.info-wrapper .caption > div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.info-wrapper .caption > div::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.info-wrapper .caption > div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,
  40% 0%,
  75% 84%,
  from(#f691be),
  to(#f691be),
  color-stop(.6, #f691be))
}

.info-wrapper .user-info {
  display: flex;
  align-items: center;
}

.info-wrapper .user-info .avatar {
  width: 3.5vw;
  border-radius: 50%;
  margin-right: 0.7vw;
}

.info-wrapper .user-info .username {
  font-size: 1.74vw;
  color: #6081C4;
  text-align: center;
  padding-top: 0.7vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-send-submission {
  font-family: UTM-Cookies, cursive;
  font-size: 4.5vw;
  color: white;
  background-image: url(/modules/custom/glico_submission/upload/btn-submit-bg.png);
  width: 108vw;
  height: 22.5vw;
  background-size: 100% 100%;
  margin-top: -5.6vw;
  line-height: 1;
  padding-left: 40.5vw;
  padding-top: 15vw;
  text-shadow: 0 2px 4px #777777;
  pointer-events: none;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-send-submission span {
  pointer-events: initial;
  cursor: pointer;
}

.decor-bottom-img {
  width: 100%;
}

.share-modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a5dcfdc7;
  z-index: 101;
}

.share-modal {
  font-family: Baloo Tammudu, cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background: #ffe5fc;
  border-radius: 2rem;
  padding: 6rem 0 4rem;
  max-width: 100vw;
}

.share-modal:before {
  position: absolute;
  display: block;
  content: "";
  background-image: url(/themes/custom/glico/images/discover/bear-decor-1.png);
  width: 14rem;
  height: 13.5rem;
  top: -10.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-size: 100% 100%;
}

.share-modal .message-share {
  font-size: 1.5rem;
  text-align: center;
  width: 73%;
  color: #DF75B3;
  margin: 0 auto;
}

.btn-share-fb,
.btn-back {
  font-family: UTM-Cookies, cursive;
  font-size: 2.7rem;
  color: white;
  background-image: url(/modules/custom/glico_submission/upload/btn-share-bg.png);
  width: 26rem;
  height: 5rem;
  background-size: 100% 100%;
  margin: 5rem auto 0;
  line-height: 4rem;
  padding-left: 5rem;
  cursor: pointer;
  text-shadow: 0 2px 4px #777777;
}

.btn-back {
  padding-left: 4rem;
  display: block;
}


.no-pc {
  display: none;
}

@media all and (max-width: 767px) {
  .no-pc {
    display: initial;
  }

  .no-sp {
    display: none;
  }

  .btn-share-fb,
  .btn-back {
    font-size: 5.8vw;
    width: 57vw;
    height: 11vw;
    line-height: 9vw;
    padding-left: 10vw;
  }

  .preview-bg {
    background-image: url(/modules/custom/glico_submission/upload/bg-submit-sp.png);
    height: 210.5vw;
    margin-top: 13vw;
    padding-top: 0;
  }

  .decor-bottom-img {
    display: none;
  }

  .preview-content #banner-img {
    width: 40vw;
    padding-top: 3vw;
    margin-top: 0;
  }

  .preview-wrapper {
    flex-wrap: wrap;
    width: 87vw;
    margin-top: 4vw;
  }

  .preview-wrapper .field-video-wrapper {
    flex-basis: 100%;
    margin-right: 0;
  }

  .info-wrapper {
    max-width: 100%;
    height: 34vw;
  }

  .preview-wrapper .field-video-wrapper video[style] {
    width: 100% !important;
    height: 50vw !important;
    border-radius: 3vw;
  }

  .video-control {
    border-top: 2px solid white;
    margin-bottom: 2vw;
  }

  .video-control .btn-play {
    margin-right: 0;
  }

  .video-control .btn-play, .video-control .btn-mute {
    width: 5.5vw;
    height: 5.5vw;
  }

  .video-control .text-time {
    font-size: 3.74vw;
    top: 7.3vw;
  }

  .video-control .btn-fullscreen {
    padding: 0;
    width: 32vw;
    height: 5vw;
    text-align: center;
    line-height: 6.5vw;
    font-size: 3vw;
    border-radius: 4vw;
    margin-top: 0.14vw;
  }

  .info-wrapper .user-info .avatar {
    width: 6.5vw;
    margin-right: 1vw;
  }

  .info-wrapper .user-info .username {
    font-size: 3.4vw;
    padding-top: 2vw;
    width: 29vw;
    text-align: left;
  }

  .info-wrapper {
    padding: 1.4vw 3vw;
    position: relative;
  }

  .info-wrapper .baby-name-label.no-pc {
    font-size: 3vw;
    width: 28vw;
    display: block;
  }

  .baby-name-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1vw;
  }

  .info-wrapper .baby-name {
    font-size: 4vw;
    border-radius: 1.4vw;
    padding-top: 1vw;
    height: 7vw;
    line-height: 7vw;
    flex-grow: 1;
    margin-left: 2vw;
    width: 51vw;
  }

  .info-wrapper .baby-name > span {
    width: 100%;
    padding: 0 2vw;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-wrapper .caption {
    font-size: 2.5vw;
    border: 1px solid #F99EC6;
    padding: 1.5vw 2vw;
    margin: 0.7vw 0 1.4vw;
    height: 13vw;
  }

  .btn-send-submission {
    width: 165vw;
    height: 35vw;
    padding-left: 64.5vw;
    padding-top: 24vw;
  }

  .btn-send-submission span {
    font-size: 6vw;
  }

  .preview-wrapper .field-video-wrapper video {
    width: 100% !important;
    height: 50vw !important;
  }

  .field-video.video-frame-2 video {
    border-radius: 6vw;
  }

  #seekslider {
    height: 2vw;
  }

  #seekslider::-webkit-slider-thumb {
    width: 3.5vw;
    height: 3.5vw;
  }

  #seekslider::-moz-range-thumb {
    width: 3.5vw;
    height: 3.5vw;
  }
}

/*==================RESPONSIVE SP BACKUP===================*/
/*@media all and (max-width: 767px) {*/
  /*.preview-wrapper {*/
    /*flex-wrap: wrap;*/
  /*}*/

  /*.preview-wrapper .field-video-wrapper {*/
    /*flex-basis: 100%;*/
     /*margin-right: 0;*/
  /*}*/

  /*.info-wrapper {*/
    /*max-width: 100%;*/
  /*}*/

  /*.btn-send-submission {*/
    /*margin-top: -2rem;*/
  /*}*/
/*}*/

/*@media all and (max-width: 425px) {*/
  /*.video-control .btn-play, .video-control .btn-mute {*/
    /*width: 2.5rem;*/
    /*height: 2.5rem;*/
  /*}*/

  /*.video-control .btn-fullscreen {*/
    /*padding: 14px 10px 3px 10px;*/
    /*font-size: 1rem;*/
    /*background-color: #F99EC6;*/
    /*border-radius: 25px;*/
  /*}*/

  /*.video-control .text-time {*/
    /*font-size: 1.1rem;*/
    /*top: 1.2rem;*/
    /*margin-left: 0.5rem;*/
  /*}*/

  /*.video-control .btn-play {*/
    /*margin-right: 0;*/
  /*}*/

  /*.info-wrapper .user-info .username {*/
    /*font-size: 1.2rem;*/
    /*padding-top: 0.5rem;*/
  /*}*/

  /*.info-wrapper .baby-name-label {*/
    /*font-size: 1.3rem;*/
    /*margin: 0.5rem 0;*/
  /*}*/

  /*.info-wrapper .baby-name {*/
    /*font-size: 1.3rem;*/
    /*padding-top: 0.6rem;*/
  /*}*/

  /*.info-wrapper .caption {*/
    /*font-size: 1.1rem;*/
    /*height: 14rem;*/
  /*}*/

  /*.info-wrapper .user-info .avatar {*/
    /*width: 3rem;*/
  /*}*/

  /*.info-wrapper {*/
    /*padding: 18px 26px;*/
    /*height: 27.2rem;*/
  /*}*/

  /*.btn-send-submission {*/
    /*margin-top: -1rem;*/
  /*}*/

  /*.btn-share-fb, .btn-back {*/
    /*font-size: 2rem;*/
    /*width: 19rem;*/
    /*height: 4rem;*/
    /*margin: 3rem auto 0;*/
    /*line-height: 3.5rem;*/
    /*padding-left: 3.2rem;*/
  /*}*/
/*}*/

/*@media all and (max-width: 320px) {*/
  /*.video-control .btn-play, .video-control .btn-mute {*/
    /*width: 2.5rem;*/
    /*height: 2.5rem;*/
  /*}*/

  /*.video-control .text-time {*/
    /*display: none;*/
  /*}*/
/*}*/

@media screen and (max-width: 425px) {
  #content-wrapper #banner-img {
    margin-top: 13vw;
  }

  .share-modal .message-share {
    font-size: 5vw;
    width: 96vw;
    line-height: 1.3;
  }
}


@media all and (min-width: 1024px) {
  .preview-content #banner-img {
    width: 20vw;
  }

  .preview-wrapper {
    margin-top: 3vw;
    width: 80vw;
  }

  .preview-wrapper .field-video-wrapper video {
    height: 31.6vw !important;
  }

  .info-wrapper .user-info .avatar {
    width: 3vw;
  }

  .info-wrapper .user-info .username {
    font-size: 1.5vw;
  }

  .info-wrapper .baby-name-label {
    font-size: 1.5vw;
    margin: 0.5vw 0;
  }

  .info-wrapper .baby-name {
    font-size: 1.5vw;
    line-height: 1.6vw;
    padding-top: 0.7vw;
    margin-bottom: 1.1vw;
  }

  .info-wrapper .caption {
    font-size: 1.3vw;
  }

  .info-wrapper {
    height: 36vw;
  }

  .video-control .text-time {
    top: 3.8vw;
  }
}

@media all and (min-width: 1400px) {
  .video-control .text-time {
    top: 2.8vw;
  }
}

@media all and (width: 768px) and (max-width: 1023px) {
  .video-control .text-time {
    top: 4.5vw;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .video-control .text-time {
    top: 5.5vw;
  }
}

/*==============================LARGE SCREEN============================*/
@media all and (min-width: 1280px) {
  .preview-bg {
    padding-top: 89.6px;
  }
}
